{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Add Subject</title>
  <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
</head>
<body>
  <header>
    <nav>
      <img src="{% static 'images/logo-horizantal.png' %}" alt="Elc logo" />
      <ul>
        <li><a href="{% url 'add_subject' %}">اضافة مادة</a></li>
        <li><a href="{% url 'accept_admin' %}">طلبات التاجيل</a></li>
        <li><a href="{% url 'admin_page' %}">الرئيسية</a></li>
        <li>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>

<h2>Add New Subject</h2>
<form method="POST" enctype="multipart/form-data">  <!-- Ensure enctype is set -->
  {% csrf_token %}
  {{ form.as_p }}  <!-- This will display all form fields and errors -->
  <button type="submit">Add Subject</button>
</form>

<a href="{% url 'admin_page' %}">Back to Admin Page</a>

</body>
</html>