{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Add Category</title>
  <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'admin_page' %}"> 
        <img src="{% static 'images/logo-horizantal.png' %}" alt="Elc logo" />
    </a>
      <ul>
        <li><a href="{% url 'add_category' %}">اضافة فئة</a></li>
        <li><a href="{% url 'add_subject' %}">ادارة الدورات</a></li>
        <li><a href="{% url 'accept_admin' %}">طلبات التاجيل</a></li>
        <li><a href="{% url 'admin_page' %}">الرئيسية</a></li>
        <li>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <h2>Add New Category</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
          <label for="id_name">Category Name:</label>
          <input type="text" name="name" id="id_name" value="{{ form.name.value }}" class="your-css-class" placeholder="Enter category name" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </main>
  {% if messages %}
  <div class="message-window">
    <div class="message-content">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
    <button class="close-message" onclick="this.parentElement.style.display='none'">✖ Close</button>
  </div>
{% endif %}
{% if messages %}
<div class="modal message-window">
  <div class="message-content">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
  <button class="close-message" onclick="this.parentElement.style.display='none'">✖ Close</button>
</div>
{% endif %}

</body>
</html>