{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Add Subject</title>
  <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
</head>
<body>
  <header>
    <nav>
      <img src="{% static 'images/logo-horizantal.png' %}" alt="Elc logo" />
      <ul>
        <li><a href="{% url 'add_subject' %}">اضافة مادة</a></li>
        <li><a href="{% url 'accept_admin' %}">طلبات التاجيل</a></li>
        <li><a href="{% url 'admin_page' %}">الرئيسية</a></li>
        <li>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>

<h2>Add New Subject</h2>
{% comment %} <form method="POST" enctype="multipart/form-data">  <!-- Ensure enctype is set -->
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Subject</button>
</form> {% endcomment %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="form-group">
      <label for="id_name">Subject Name:</label>
      <input type="text" name="name" id="id_name" value="{{ form.name.value }}" class="your-css-class">
  </div>
  
  <div class="form-group">
      <label for="id_price">Full Price:</label>
      <input type="number" name="price" id="id_price" step="0.01" value="{{ form.price.value }}" class="your-css-class">
  </div>
  
  <div class="form-group">
    <label for="id_advance_payment">Advance Payment:</label>
    <input type="number" name="advance_payment" id="id_advance_payment" step="0.01" value="{{ form.advance_payment.value }}" class="your-css-class">
  </div>
  
  <div class="form-group">
      <label for="id_image">Image:</label>
      <input type="file" name="image" id="id_image" class="your-css-class">
  </div>

  
  
  <button type="submit">Submit</button>
  {% comment %} <div class="form-group">
      <label for="id_description">Description:</label>
      <textarea name="description" id="id_description" class="your-css-class">{{ form.description.value }}</textarea>
  </div> {% endcomment %}
</form>

<a href="{% url 'admin_page' %}">Back to Admin Page</a>

</body>
</html>