{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Student Requests</title>
  <link rel="stylesheet" href="{% static 'styles/student.css' %}">
</head>
<body>
  <header>
    <nav>
      <img src="{% static 'images/logo-horizantal.png' %}" alt="Elc logo" />
      <ul>
        <li><a href="{% url 'login' %}">Log in</a></li>
      </ul>
    </nav>
  </header>

<h2>Submit Student Request</h2>

<form method="POST" enctype="multipart/form-data" class="student-request-form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

{% if messages %}
  <div class="message">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

</body>
</html>