header {
  background-color: #edb82d;
  padding: 20px 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav img {
  width: 250px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 22px;
  padding: 15px 20px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}
/* ----------------------------------------------------*/

h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin: 20px 0;
  padding: 10px;
  background-color: #edb82d;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* --------------------------------------------------------- */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    display: none; /* Hide headers on small screens */
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label); /* Use data-label for responsive display */
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
  }
}


@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 15px;
  }
}